@using CodeStudy.Models 
<a class="col-2 d-flex flex-column align-items-center text-center rounded shadow text-decoration-none text-dark m-2" href="/problems/@problem.ID">
    <div class="p-2">
        <p class="p-0 m-0 fw-bold">@problem.Name</p>
        <p class="p-0 m-0">
            @foreach (string tag in problem.Tags.Select(x => x.Name))
            {
                <span class="badge bg-primary">@tag</span>
            }
        </p>
        <p class="p-0 m-0">@problem.Article.Username</p>
    </div>
    <div class="bg-light d-flex justify-content-between col-12 p-1 mt-auto">
        <p class="p-0 m-0">90/500</p>
        <p class="p-0 m-0">98</p>
    </div>
</a>

@code {
    [Parameter]
    public ProblemDTO problem {get;set;}
}
