@page "/"
@using CodeStudy.Models
@using Web.Components

@if (problems == null)
{
    <p>Loading</p>
}
else
{
    <div class="d-flex flex-wrap">
        @foreach (ProblemDTO problem in problems)
        {
            <ProblemCard problem="@problem"></ProblemCard>
        }
    </div>
}

