@page "/"
@using CodeStudy.Models

@if (problems == null)
{
    <p>Loading</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tên</th>
                <th scope="col">Tác giả</th>
                <th scope="col">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProblemDTO problem in problems)
            {
                <tr>
                    <th scope="row">@problem.Name</th>
                    <td>@problem.Article.Username</td>
                    <td><a href="/@problem.ID">Xem chi tiết</a></td>
                </tr>
            }
        </tbody>
    </table>
}

