@page "/admin/problems"
@using CodeStudy.Models
<GroupBox Title="Tìm kiếm">
    <EditForm Model="keyword" OnValidSubmit="HandleSubmit">
        <BootstrapInputGroup>
            <BootstrapInput @bind-Value="@keyword" PlaceHolder="Nhập từ khóa tìm kiếm" />
            <Button Icon="fa fa-search" ButtonType="ButtonType.Submit"></Button>
        </BootstrapInputGroup>
    </EditForm>
</GroupBox>
@if (problems_display == null)
{
    <Loading></Loading>
}
else
{
    <GroupBox Title="Danh sách problems">
        <div class="mt-3">
            <Row ItemsPerRow="ItemsPerRow.Four">
                @foreach (ProblemDTO problem in problems_display)
                {
                    <Card IsShadow="true" Color="Color.None">
                        <CardBody>
                            <ProblemCard problem="@problem"></ProblemCard>
                        </CardBody>
                    </Card>
                }
            </Row>
        </div>
    </GroupBox>
}