.bg-green {
    background-color: #cff7e6 !important;
}

.bg-green-box {
    background-color: #64ffd3;
}

@font-face {
    font-family: 'KaTex-Regular';
    src: url('../../fonts/KaTeX-Regular.woff2');
}

body {
    font-family: KaTex-Regular, sans-serif;
}