<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">ICode</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Bài tập</a>
                </li>
            </ul>
            @if (User.Identity.IsAuthenticated) 
            {
                <div>
                    <a>@User.Identity.Name</a>
                    <a class="btn btn-primary ms-2" asp-action="Logout" asp-controller="Auth">Đăng xuất</a>
                </div>
            }
            else
            {
                <div>
                    <a class="btn btn-primary" asp-action="Login" asp-controller="Auth">Đăng nhập</a>
                    <a class="btn btn-primary ms-2" asp-action="Register" asp-controller="Auth">Đăng kí</a>
                </div>
            }
        </div>
    </div>
</nav>