@inherits LayoutComponentBase

<AuthorizeView Roles="Admin">
    <Authorized>
        <div class="d-flex">
            <div class="sidebar">
                <div class="top-row pl-4 navbar navbar-dark">
                    <a class="navbar-brand text-center" href="" style="width: 100%">ICode</a>
                    <button class="navbar-toggler" @onclick="ToggleNavMenu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <Menu Items="@CollapsedIconSideMenuItems" DisableNavigation="false" IsVertical="true" style="border-right: 1px solid #e6e6e6;" />
            </div>
            <div class="main">
                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <Header />
        <div class="container">
            <main role="main" class="pb-3">
                @Body
            </main>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private IEnumerable<MenuItem> CollapsedIconSideMenuItems { get; set; } = new MenuItem[]
    {
        new MenuItem("Home", "/"),
        new MenuItem("Problems")
        {
            Items = new MenuItem[]
            {
                new MenuItem("Danh sách", "/admin/problems"),
                new MenuItem("Thêm mới", "/problems/add-problems")
            },
            IsCollapsed = true
        }
    };
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}